<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team4.cafe.app.dao.MemberDAO">
	<insert id="insertMember">
		insert into Member(me_id, me_pw, me_email ,me_name, me_date, me_st_state, me_gr_name)
		values(#{member.me_id}, #{member.me_pw}, #{member.me_email}, 
				#{member.me_name}, #{member.me_date}, "이용중", "Level1")
	</insert>
	<select id="selectMember" resultType="team4.cafe.app.model.vo.MemberVO">
		SELECT * FROM MEMBER WHERE me_id = #{me_id}
	</select>
	<select id="selectMemberNickName" resultType="team4.cafe.app.model.vo.MemberVO">
		SELECT * FROM MEMBER WHERE me_name = #{me_name}
	</select>
	<update id="updateLoginCount">
		update member set me_loginCount = #{me_loginCount} where me_id = #{me_id}
	</update>
	<select id="selectStateList" resultType="team4.cafe.app.model.vo.StateVO">
		select * from state 
	</select>
	<select id="selectGradeList" resultType="team4.cafe.app.model.vo.GradeVO">
		select * from grade 
	</select>
	<update id="updateMember">
		update member set me_st_state=#{member.me_st_state} ,me_gr_name=#{member.me_gr_name}
		where me_id=#{member.me_id}
	</update>
	<update id="updateFailCount">
		update member set me_fail = #{me_fail} where me_id = #{me_id}
	</update>
	<update id="updateMemberState">
		update member set me_st_state = #{me_st_state} where me_id = #{me_id}
	</update>
	<select id="getMemberList" resultType="team4.cafe.app.model.vo.MemberVO">
		select * from member 
		<if test='cri.type=="all"'>
			where me_gr_name=#{cri.search} or me_name=#{cri.search}
		</if>
		<if test='cri.type=="grand"'>
			where me_gr_name=#{cri.search}
		</if>
		<if test='cri.type=="name"'>
			where me_name=#{cri.search}
		</if>
		ORDER BY me_date DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getMemberCount" resultType="int">
		select count(*) from member 	
		<if test='cri.type=="all"'>
			where me_gr_name=#{cri.search} or me_name=#{cri.search}
		</if>
		<if test='cri.type=="grand"'>
			where me_gr_name=#{cri.search}
		</if>
		<if test='cri.type=="name"'>
			where me_name=#{cri.search}
		</if>
	</select>
	<select id="getAllMemberCount" resultType="int">
		select count(*) from member 	
	</select>
	
</mapper>