<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team4.cafe.app.dao.MemberDAO">
	<insert id="insertMember">
		insert into Member(me_id, me_pw, me_email ,me_name, me_date, me_st_state, me_gr_name)
		values(#{member.me_id}, #{member.me_pw}, #{member.me_email}, 
				#{member.me_name}, #{member.me_date}, "이용중", "Level1")
	</insert>
	<select id="selectMember" resultType="team4.cafe.app.model.vo.MemberVO">
		SELECT * FROM MEMBER WHERE me_id = #{me_id}
	</select>
	
</mapper>