<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team4.cafe.app.dao.MyPageDAO">

<!-- 
게시글 댓글수 가져오는 법
SELECT board.*, count(cm_bo_num) as a FROM community.board 
left join comment on bo_num = cm_bo_num group by bo_num;
-->

	<resultMap type="team4.cafe.app.model.vo.PostVO" id="postMap">
		<id property="po_num" column="po_num"/>
		<result property="po_date" column="po_date"/>
		<result property="po_title" column="po_title"/>
		<result property="po_content" column="po_content"/>
		<result property="po_view" column="po_view"/>
		<result property="po_bo_num" column="po_bo_num"/>
		<result property="po_me_id" column="po_me_id"/>
		<result property="po_pt_num" column="po_pt_num"/>
		<result property="commentCount" column="commentCount"/>
		<collection property="board" ofType="team4.cafe.app.model.vo.BoardVO"
			column="po_bo_num" select="selectBoard"/>
	</resultMap>

	<!--  -->
	<select id="selectBoard" resultType="team4.cafe.app.model.vo.BoardVO">
		select * from board where bo_num = #{po_bo_num}
	</select>
	
	<!--  -->
	<select id="selectPostListWithBoard" resultMap="postMap">
		select post.*, (select count(cm_po_num) from comment) as commentCount from post
		left join comment on po_num = cm_po_num  where po_me_id = #{user.me_id} group by po_num
	</select>

	<select id="selectCountPost" resultType="int">
		select count(*) from post where po_me_id = #{user.me_id}
	</select>

	<select id="selectCountComment" resultType="int">
		select count(*) from comment where cm_me_id = #{user.me_id}
	</select>
	
	<update id="updateInfo">
		update member set  
			me_pw = #{user.me_pw},
			me_name = #{user.me_name},
			me_email = #{user.me_email}
		where 
			me_id = #{user.me_id}
	</update>
	
	<select id="selectPostListByuser" resultType="team4.cafe.app.model.vo.PostVO">
		select * from post where po_me_id = #{user.me_id}		
	</select>
</mapper>