<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team4.cafe.app.dao.MyPageDAO">

<!-- 
게시글 댓글수 가져오는 법
SELECT board.*, count(cm_bo_num) as a FROM community.board 
left join comment on bo_num = cm_bo_num group by bo_num;
-->

	<resultMap type="team4.cafe.app.model.vo.PostVO" id="PostMap">
		<id property="po_num" column="po_num"/>
		<result property="po_date" column="po_date"/>
		<result property="po_title" column="po_title"/>
		<result property="po_content" column="po_content"/>
		<result property="po_view" column="po_view"/>
		<result property="po_bo_num" column="po_bo_num"/>
		<result property="po_me_id" column="po_me_id"/>
		<result property="po_pt_num" column="po_pt_num"/>
		<result property="commentCount" column="commentCount"/>
		<collection property="board" ofType="team4.cafe.app.model.vo.BoardVO"
			column="po_bo_num" select="selectBoard"/>
	</resultMap>
	
	<select id="selectBoard" resultType="team4.cafe.app.model.vo.BoardVO">
		select * from board where bo_num = #{po_bo_num}
	</select>
	
	<select id="selectPostListByUser" resultMap="PostMap">
		select post.*, (select count(cm_po_num) from comment where cm_po_num = po_num) as commentCount from post
		left join comment on po_num = cm_po_num 
		where po_me_id = #{user.me_id} and
		po_title like concat('%', #{cri.search} , '%')
		group by po_num
		ORDER BY po_num DESC
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<resultMap type="team4.cafe.app.model.vo.CommentVO" id="CommentMap">
		<id property="cm_num" column="cm_num"/>
		<result property="cm_content" column="cm_content"/>
		<result property="cm_date" column="cm_date"/>
		<result property="cm_me_id" column="cm_me_id"/>
		<result property="cm_po_num" column="cm_po_num"/>	
		<collection property="post" ofType="team4.cafe.app.model.vo.PostVO"
			column="cm_po_num" select="selectPost"/>
	</resultMap>

	<select id="selectPost" resultType="team4.cafe.app.model.vo.PostVO">
		select * from post where po_num = #{cm_po_num}
	</select>

	<select id="selectCommentListByUser" resultMap="CommentMap">
		select * from comment
		where cm_me_id = #{user.me_id} and
		cm_content like concat('%', #{cri.search} , '%')
		group by cm_num	
		ORDER BY cm_num DESC
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<select id="selectCountPost" resultType="int">
		select count(*) from post where po_me_id = #{user.me_id}
	</select>

	<select id="selectCountComment" resultType="int">
		select count(*) from comment where cm_me_id = #{user.me_id}
	</select>
	
	<update id="updateInfo">
		update member set  
			me_pw = #{user.me_pw},
			me_name = #{user.me_name},
			me_email = #{user.me_email}
		where 
			me_id = #{user.me_id}
	</update>
	
	<select id="selectTotalCountPost" resultType="int">
		SELECT count(*)
		FROM post
		where po_title like concat('%', #{cri.search} , '%')
	</select>
	
	<select id="selectTotalCountComment" resultType="int">
		SELECT count(*)
		FROM comment
		where cm_content like concat('%', #{cri.search} , '%')
	</select>

	<update id="updateMemberSecession">
		update member set me_st_state = '탈퇴' where me_id = #{me_id}
	</update>
	
	<update id="updateMemberStop">
		update member set me_st_state = '기간정지' where me_id = #{user.me_id}
	</update>
	
	<update id="updateMemberFail">
		update member set me_fail = me_fail + 1 where me_id = #{user.me_id}
	</update>
	
	<update id="updateMemberSuccess">
		update member set me_fail = 0 where me_id = #{user.me_id}
	</update>
</mapper>