<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team4.cafe.app.dao.PostDAO">

	<select id="selectPostList" resultType="team4.cafe.app.model.vo.PostVO">
	SELECT 
    	*, bo_name AS po_bo_name, me_name AS po_me_name
	FROM
   		post
        	JOIN
   		board ON bo_num = po_bo_num
   			JOIN
		member ON me_id = po_me_id
		<if test='cri.type=="all"'>
			where po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search}
		</if>
		<if test='cri.type=="title"'>
			where po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			where po_me_id = #{cri.search}
		</if>
		and po_bo_num = #{bo_num}
		ORDER BY po_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<insert id="insertPost">
		insert into
		post(po_bo_num, po_title, po_content, po_me_id, po_date, po_pt_num)
		values(#{post.po_bo_num}, #{post.po_title}, #{post.po_content}, #{post.po_me_id}, now(), #{post.po_pt_num})
	</insert>
	<select id="selectPost" resultType="team4.cafe.app.model.vo.PostVO">
	SELECT 
    	*, bo_name AS po_bo_name, me_name AS po_me_name
	FROM
   		post
        	JOIN
   		board ON bo_num = po_bo_num
   			JOIN
		member ON me_id = po_me_id
    where po_num = #{po_num}
	</select>
	<delete id="deletePost">
		delete from post where po_num = #{po_num}
	</delete>
	<update id="updateView">
		update post
		set
			po_view = po_view + 1
		where
			po_num = #{po_num}
	</update>
	<update id="updatePost">
		update post
		set
			po_bo_num = #{post.po_bo_num},
			po_pt_num = #{post.po_pt_num},
			po_title = #{post.po_title},
			po_content = #{post.po_content},
			po_date = #{post.po_date}
		where
			po_num = #{post.po_num}
	</update>
	<select id="selectBoard" resultType="team4.cafe.app.model.vo.PostVO">
		select * from post where po_bo_num = #{bo_num}
	</select>
	<select id="selectBoardList" resultType="team4.cafe.app.model.vo.BoardVO">
		select * from board
	</select>
	<select id="selectTotalCount" resultType="int">
		SELECT count(*) 
		FROM
			post
				JOIN
		member ON me_id = po_me_id
		<if test='cri.type=="all"'>
			where po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search}
		</if>
		<if test='cri.type=="title"'>
			where po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			where po_me_id = #{cri.search}
		</if>
	</select>
	<select id="selectPostType" resultType="team4.cafe.app.model.vo.PostTypeVO">
		select * from post_type
	</select>
	<select id="selectCommentList" resultType="team4.cafe.app.model.vo.CommentVO">
		select * from comment where cm_po_num = #{cri.poNum}
		order by cm_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCommentCount" resultType="int">
		select count(*) from comment where cm_po_num = #{cri.search}
	</select>
	<insert id="insertComment">
		insert into comment(cm_po_num, cm_me_id, cm_content, cm_date)
		values(#{co.cm_po_num},#{co.cm_me_id},#{co.cm_content}, now())
	</insert>
	<select id="selectComment" resultType="team4.cafe.app.model.vo.CommentVO">
		select * from comment where cm_num = #{cm_num}
	</select>
	<delete id="deleteComment">
		delete from comment where cm_num = #{cm_num}
	</delete>
	<update id="updateComment">
		update comment
		set
			cm_content = #{co.cm_content}
		where
			cm_num = #{co.cm_num}
	</update>
</mapper>