@charset "UTF-8";

*{margin:0;padding:0;}
.container{height: 500px; position: relative;}
 .click{cursor: pointer; margin: 0 5px;}
 .line{height: 50px; border-bottom:1px solid #888; font-size: 18px;
 width: 80%; margin: 0 auto; padding: 10px;}
 .left{float: left;}
 .right{float: right;}
 .w-30{width: 30%; }
 .update-box{border: 1px solid #888; background-color: #fff; 
   position: absolute; top: 25%;  padding: 30px; left: calc(37% - 25%);
   display: none; z-index: 20;
 }
 .btn-close{position: absolute; top: 0; right: 0;}
 .main{border-bottom:1px solid #888;}
.bold{font-weight: bold; font-size: 18px; }
 